* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow:hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem ;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem; /*16px*/ 
    margin-right: 0.5rem;
}

.main-content {
   background-color: #121212;   
   flex: 1;
   border-radius: 16px; /*16px*/
   overflow:auto;
   padding: 0 1.5rem 0 1.5rem;

}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: #fff;
}



 .nav {
   background-color: #121212;
    border-radius: 1rem; 
     display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 100px;
    padding: 0.5rem 0.75rem;
} 

.nav-option {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
} 

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left:1rem ;

}

.library {
    background-color: #121212;
    border-radius: 1rem; 
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}

.options {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options a{
    background-color: #121212;

}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    background-color: #121212;
   font-size: 1.25rem;
   opacity: 0.7;
   margin-right: 1rem;
   display: flex;
}

.icons i {
    background-color: #121212;
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity:1;

}

.library {
    background-color: #121212;
   
}
.box {
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    background-color: #232323;
    background-color: none;
}

.lib-box {
    background-color: #121212;
}

.box-p1 {
    background-color: #232323;
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    background-color: #232323;

    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    height: 50px;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons  {
    background-color: #121212;
   margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;


}

.nav-item {
    margin-right:1rem;
  
}

@media(max-width:1000px){
    .hide {
        display: none;
    }
}

/* .h2 {
    background-color: #232323;
   
} */


.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card p{
    background-color: #232323;
}


.cards-container {
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
}

.card-img {
   width: 100%;
   border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.7rem;
    opacity: 0.8;
}

.footer {
    background-color: #121212;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    background-color: #121212;
    width: 90%;
    height: 50%;
    border-top: 1px solid white ;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.album {
  display:flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.album img{
     height: 56px;
     width: auto;
     border-radius: 0.25%;
}

.album p{
    margin: 0 1rem;
    font-weight: 600;
    font-size: 0.85rem;
}

.album  p span{
    font-size: 0.75;
    font-weight: 300;
    opacity: 0.5;  
}

.album p span:hover{
    opacity: 1;
    text-decoration: none;
}

#like {
    margin: 0 1rem;
    padding: 0.5rem 0;
    height: 1.5rem;
    min-width: 1.25rem;
    width: 1.25rem;
    opacity: 0.7;
    /* align-self: left; */
}

#like:hover{
    opacity: 1;
}



.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.player {
    margin-top: -0.25rem;
    width: 50%;
}
.controls {
    width: 25%;
} 

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.progress-bars {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bars::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bars::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.controls{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: end;
}

.view {
    height: 3rem;
    width: auto;
    margin-right: 0.25rem; 
    opacity: 0.7; 
}

.view:hover {
    opacity: 1;
}

.mic {
    height: 3rem;
    width: auto;
    margin-right: 0.25rem;
    opacity: 0.7; 
 }

 .mic:hover{
    opacity: 1;
 }

 .q {
    height: 1.5rem;
    width: auto;
    margin-right: 0.45rem;
    opacity: 0.7; 
 }

 .q:hover{
    opacity: 1;
 }

 .stream {
    height: 1.15rem;
    width: auto;
    margin-right: 0.25rem;
    opacity: 0.7;
 }

 .stream:hover{
    opacity: 1;
 }

 .volume {
    height: 3rem;
    width: auto;
    margin-right: 0.25rem;
    opacity: 0.7; 
 }

 .volume:hover{
    opacity: 1;
 }

 .multi-player{
    height: 2.75rem;
    width: auto;
    margin-right: 0.25rem;
    opacity: 0.7; 
    margin-left: 0.5rem;
 }

 .multi-player:hover{
    opacity: 1;
 }

 #volume{
    -webkit-appearance: none;
    width: 8rem;
    height: 4px;
    background: linear-gradient(to right, #1DB954 0%, #1DB954 0%, #d3d3d3 0%, #d3d3d3 100%);
    border-radius: 5px; 
    outline: none; 
    opacity: 1; 
    transition: opacity 0.2s; 
    margin: 0.75rem 0.25rem;
 }

 #volume::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 1rem; 
    height: 1rem; 
    background: #1DB954; 
    border-radius: 50%; 
    cursor: pointer; 
    opacity: 0;
    transition: opacity 0s;
}

#volume:hover::-webkit-slider-thumb {
    opacity: 1;
}

@media (max-width:1000px){
   
    .view {
        display:none;
    
    }
    .mic{
        display:none;
    }
    .q{
        display:none;
    }
    .stream{
        display:none;
    }
    #premium{
        display: none;
    }
    .content {
        overflow-x: hidden; 
    }
}
@media (max-width:1000px){
    .progress-bar input[type="range"] {
        -webkit-appearance: none; 
        width: 16rem; 
    }
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  html {
    scrollbar-color: #8e8e8e transparent;
    scrollbar-width: thin;
  }

  body {
    scrollbar-face-color: #888;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #ddd;
    scrollbar-highlight-color: #ddd;
    scrollbar-3dlight-color: #ddd;
    scrollbar-darkshadow-color: #ddd;
    scrollbar-track-color: #f0f0f0;
  } 

  .main-content::-webkit-scrollbar {
    width: 12px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }

  .main-content:hover::-webkit-scrollbar {
    opacity: 1; 
  }